.aboutContainer {
  overflow-y:scroll;
  height:400px;

  padding:40px;
  line-height:1.5em;
}

.aboutContainer a {
  color:#fbdd96;
}

.aboutContainer h3 {
  margin-top:40px;
}

.aboutContainer p {
  color:#ccc;
  line-height:1.6;
}
