.filmstripStretch {
  display:inline-block;
  cursor:grab;
}

.missingImage {
  user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.imageContainer {
  display:inline-block;
  position:relative;
  max-height:300px;
  overflow:hidden;
  vertical-align:top;
}

.imageContainer .image {
  user-drag: none;
  user-select: none;
  -webkit-user-drag: none;
  height:400px;
  vertical-align:top;
}

.storyFrame {
  display:inline-block;
  background-color:black;
  color:white;
  height:400px;
  text-align:left;
  white-space:normal;
  top:0px;
  transition: fadein 1s;
  z-index:1;
}

.story .floatingText:hover {
  opacity:1;
}

.filmstrip {
  overflow-x: scroll;
  height:310px;
  text-align:center;
}

@media only screen and (min-width : 768px) {
  .imageContainer {
    max-height:360px;
  }

  .filmstrip {
    height:370px;
  }

  .imageContainer .image {
    height:480px;
  }
}

