#introContainer {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(0,0,0,0.3);
}

#intro {
  background-color:#2c1f27;
  text-align:center;
}

#intro .introGif {
  display:block;
  margin-left:auto;
  margin-right:auto;
  height:25%;
}

