/* the phone mode, vertical or horizontal. */

nav {
  background-color: #040304;
  width:100%;
  display:block;
  height:44px;
  line-height:44px;
  font-weight:300;
  letter-spacing:2px;
  font-family: "Oswald";
  color:#eee;
  vertical-align:middle;
}

.mainTitle {
  padding-right:20px;
}

.subTitle {
  line-height:60px;
  font-size:14px;
  letter-spacing:1px;
  color:#666;
  padding-right:40px;
  vertical-align:top;
  display:none;
}

.shareOnTwitter {
  color:black;
  letter-spacing:1px;
  font-size:14px;
  background:white;
  border-radius:4px;
  padding-left:10px;
  padding-right:10px;
  vertical-align:bottom;
  line-height:60px;
}

nav.navbarsmall .shareOnTwitter {
  line-height:30px;
}

nav.navbarsmall .subTitle {
  line-height:33px;
  vertical-align:top;
}

nav.navbarsmall .mainTitle {
  vertical-align:top;
} 

nav.navbarsmall .navOptionsHorizontal span {
  vertical-align:top;
}

nav.navbarsmall .geosearchWrapper {
  line-height:30px;
}

.shareOnTwitter a {
  text-decoration:none;
  color:black;

}


.geosearchMenu {
  position: absolute;
  box-sizing: border-box;
  z-index:9999;
  font-size:12px;
  background-color:black;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:12px;
  padding-top:12px;
  font-family: "Open Sans";
  line-height:2em;
  letter-spacing:0em;
  color: #aaa;
}

.item-highlighted {
  background-color:#2c1f27;
}

.hamburger {
  float:right;
  padding:0px;
  height:44px;

}

.hamburger-box {
  margin-top:10px;
  margin-right:10px;
}

input.locationSearch {
  display: inline-block;
  border:none;
  border-radius:5px;
  background-color:#222;
  outline:none;
  transition: all .5s ease;
  background-image:url(/images/searchIcon.svg); 
  background-size:10px 10px;
  background-position:12px 6px;
  background-repeat: no-repeat; 
  padding-left:50px;
  padding-top:2px;
  padding-bottom:2px;
  color:#aaa;
  vertical-align:middle;
  font-size:16px;
  width:90%;
}

.geosearchWrapper {
  width:30%;
  line-height:30px;
}

.navOptionsVertical {
  background-color:#555;
  position:absolute;
  z-index:99999;
  top:44px;
  width:100%;
}

.navOptionsHorizontal {
  display:none;
  vertical-align:middle;
}

@media only screen and (min-width : 1120px) {
  .subTitle {
    display: inline;
  }
}

/* the desktop mode. */
@media only screen and (min-width : 768px) {
  .mainTitle {
    padding-left:100px;
  }

  nav button.hamburger {
    display:none;
  }

  .geosearchWrapper {
    width:30%;
    line-height:60px;
  }

  nav .navOptionsVertical {
    display:none;
  }

  .navOptionsHorizontal {
    display: inline;
  }

  .navOptionsHorizontal span {
    margin-left:40px;
  }


  nav.navbarbig {
    height:60px;
    max-height:60px;
    line-height:60px;
    font-size:20px;
    transition:max-height 300ms, font-size 300ms;
    letter-spacing:3px;
  }

  nav.navbarbig input.locationSearch {
    background-size:10px 10px;
  }

  nav.navbarsmall {
    height:30px;
    max-height:30px;
    line-height:30px;
    font-size:18px;
    letter-spacing:2px;
    transition:max-height 300ms, font-size 300ms;
  }

  .noresults {
    background-color:#d45454;
    padding:3px;
    border-radius:5px;
    margin-left:12px;
    font-weight:500;
    letter-spacing:1px;
  }

  .twitter-share-button {
    float:right;
    padding-right:100px;
  }
}

