/* the phone mode, vertical or horizontal. */

nav {
  font-family: "Oswald";
}

.subTitle {
  display:none;
}

.geosearchMenu {
  position: absolute;
  box-sizing: border-box;
  z-index:9999;
  font-size:12px;
  background-color:black;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:12px;
  padding-top:12px;
  font-family: "Open Sans";
  line-height:2em;
  letter-spacing:0em;
  color: #aaa;
}

.item-highlighted {
  background-color:#2c1f27;
}

.hamburger {
  float:right;
}

.navOptionsVertical {
  position:absolute;
  z-index:99999;
  width:100%;
}

.navOptionsHorizontal {
  display:none;
}

@media only screen and (min-width : 1120px) {
  .subTitle {
    display: inline;
  }
}

/* the desktop mode. */
@media only screen and (min-width : 768px) {
  nav button.hamburger {
    display:none;
  }

  nav .navOptionsVertical {
    display:none;
  }

  .navOptionsHorizontal {
    display: inline;
  }

  nav.navbarbig {
    transition:max-height 300ms, font-size 300ms;
  }

  nav.navbarsmall {
    transition:max-height 300ms, font-size 300ms;
  }

  .noresults {
    background-color:#d45454;
    padding:3px;
    border-radius:5px;
    margin-left:12px;
    font-weight:500;
  }
}
