.storiesContainer {
  overflow-y:scroll;
  height:400px;
}

#stories .storyImage img {
  height:200px;
}
#stories .storyImage {
  display:inline-block;
  margin-right:20px;
  margin-bottom:20px;
  cursor:pointer;
}

#stories {
  width:100%;
  white-space:normal;
}

#stories h2 {
  margin-left:20px;
}
